.container {
  max-width: 960px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300i&display=swap');

* {
  font-family: 'Montserrat';
}
/*
 * Custom translucent site header
 */

#headshot{
  border-radius: 145px;
  height: 300px;
  width: 250px;
  margin-left: 25%;
  overflow: hidden;
  z-index: 100;
  }

#headerContainer {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#headerContainer:hover .image {
  opacity: 0.3;
}

#headerContainer:hover .middle {
  opacity: 1;
}

.text {
  background-color: #616161;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  z-index:1000;
  font-family: 'Open Sans Condensed';
}

#nav{
  position: sticky;
  bottom: 20%;
  margin-left: 250px;
}

.devText {
  background-color: #616161;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  z-index:1000;
  font-family: 'Open Sans Condensed';
  float: left;
  margin-left: 50px;
}

.devText:hover{
  background-color: #9E9E9E;
}



.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.shortcutsTable{
  text-align: center;
  
}

.squares{
  height: auto;
  width: 50%;
  position: inline-block;
  bottom-margin: 45px;
  float: left;
  
}

#codeH{
  border: double;
  
}

.light-squares{
  
}
.light-squares:hover{
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.dark-squares{
  background-color: #424242;
  
}

#repo h2{
  color: white;
}

.dark-squares:hover{
 background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

#tableDiv{
  text-align: center;
  display: inline-block;
}